$dark: #212936;
$yellow: #F2C04A;
$white: #fff;
$coral: #E07453;
$seafoam: #80BDB9;

// 
// TEXT
// 

.isDarkText {
    color: $dark;
}

.isYellowText {
    color: $yellow;
}

.isWhiteText {
    color: $white;
}

.isCoralText {
    color: $coral;
}

.isSeafoamText {
    color: $seafoam;
}

// 
// BACKGROUNDS
// 

.hasDarkBg {
    background-color: $dark;
}

.hasYellowBg {
    background-color: $yellow;
}

// 
// BUTTONS
// 

.isYellowButton {
    @extend .hasYellowBg;
    @extend .isWhiteText;
}

// 
// THEMES
// 

.isDarkTheme {
    @extend .hasDarkBg;
    h1, h2, h3, h4, h5, h6 {
        @extend .isYellowText;
    }
    p {
        @extend .isWhiteText;
    }
    // TODO: remove me, bitch! :) 
    code {
        @extend .isDarkText;
    }
    ::selection{
        background-color: $yellow;
        color: $dark;
    }
}

.isLightTheme {
    h1, h2, h3, h4, h5, h6, p {
        @extend .isDarkText;
    }
    ::selection{
        background-color: $yellow;
        color: $dark;
    }
}

.isYellowTheme {
    @extend .hasYellowBg;
    h1, h2, h3, h4, h5, h6, p {
        @extend .isDarkText;
    }
    ::selection{
        background-color: $dark;
        color: $yellow;
    }
}